@page
@model RazorNorthwinds.Pages.SalesPage.IndexModel
@{
    ViewData["Title"] = "Sales Index";
}

<div class="text-center">
    <p>
        <a asp-page="./ProductSalesByYear">View Product Sales By Year</a>
    </p>
    <p>
        <a asp-page="./CategorySalesByYear">View Category Sales By Year</a>
    </p>
</div>