@page
@model RazorNorthwinds.Pages.SalesPage.IndexModel
@{
    ViewData["Title"] = "Sales Index";
}

<div class="text-center">
    <p><a href="./ProductSalesByYear">View Product Sales By Year</a></p>
    <p><a href="./CategorySalesByYear">View Category Sales By Year</a></p>
</div>