@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p><a href="./CustomerPage/Index">Customers</a></p>
    <p><a href="./ProductPage/Index">Products</a></p>
    <p><a href="./EmployeePage/Index">Employees</a></p>
    <p><a href="./OrderPage/Index">Orders</a></p>
    <p><a href="./SalesPage/Index">Sales Insights</a></p>
    <p><a href="/graphql">GraphQL</a></p>
</div>