@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p><a href="./CustomerPage/Index">Customers</a></p>
    <p><a href="./CustomerPage/IndexMediatr">Customers Mediatr</a></p>
</div>