@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>
        <a asp-page="/SalesPage/Index">Sales</a>
    </p>
    <p>
        <a asp-page="/OrderPage/Index">Orders</a>
    </p>
    <p>
        <a asp-page="/ProductPage/Index">Products</a>
    </p>
    <p>
        <a asp-page="/CustomerPage/Index">Customers</a>
    </p>
    <p>
        <a asp-page="/EmployeePage/Index">Employees</a>
    </p>
    <p>
        <a href="/graphql">GraphQL API</a>
    </p>
</div>